<!--create.htmlだと行数が膨大になるため、modal部分を切り出す。-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- アイテム追加モーダル開始 -->
<div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">アイテム追加</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <td>名前</td>
            <td><input id="itemModalName" type="text" class="form-control" /></td>
          </tr>
          <tr>
            <td>画像URL</td>
            <td><input id="itemModalImgUrl" type="text" class="form-control" /></td>
          </tr>
          <tr>
            <td>内容</td>
            <td><textarea id="itemModalText" class="form-control"></textarea></td>
          </tr>
          <tr>
            <td>プレビュー</td>
            <td>
              <div id="itemModalPreView"></div>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button id="closeItemModal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="saveItemModal" type="button" class="btn btn-primary" data-dismiss="modal">Add item</button>
      </div>
    </div>
  </div>
</div>

<!--NPC追加モーダル-->
<div class="modal fade" id="npcModal" tabindex="-1" role="dialog" aria-labelledby="npcModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">NPC追加</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <td>ID</td>
            <td><input id="npcModalId" type="text" class="form-control" /></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button id="closeNpcModal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="saveNpcModal" type="button" class="btn btn-primary" data-dismiss="modal">Add NPC</button>
      </div>
    </div>
  </div>
</div>

<!--Enemy追加モーダル-->
<div class="modal fade" id="enemyModal" tabindex="-1" role="dialog" aria-labelledby="enemyModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="enemyModalLabel">敵追加</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <td>ID</td>
            <td><input id="enemyModalId" type="text" class="form-control" /></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button id="closeEnemyModal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="saveEnemyModal" type="button" class="btn btn-primary" data-dismiss="modal">Add Enemy</button>
      </div>
    </div>
  </div>
</div>

<!--シーン追加モーダル TODO: シーン種別のselectpickerをいい感じに出せるようにする。-->
<div class="modal fade" id="sceneModal" tabindex="-1" role="dialog" aria-labelledby="sceneModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="sceneModalLabel">シーン追加</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <td>シーン種別</td>
            <td>
              <select class="selectpicker" id="sceneModalGroup">
                <option value="1">導入</option>
                <option value="2">イベント</option>
                <option value="3">場所</option>
                <option value="4">時間</option>
                <option value="5">戦闘</option>
                <option value="6">結末</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>タイトル</td>
            <td><input id="sceneModalTitle" type="text" class="form-control" /></td>
          </tr>
          <tr>
            <td>概要</td>
            <td><textarea id="sceneModalOutline" class="form-control"></textarea></td>
          </tr>
          <tr>
            <td>概要プレビュー</td>
            <td>
              <div id="sceneModalOutlinePreView"></div>
            </td>
          </tr>
          <tr>
            <td>内容</td>
            <td><textarea id="sceneModalText" class="form-control"></textarea></td>
          </tr>
          <tr>
            <td>内容プレビュー</td>
            <td>
              <div id="sceneModalTextPreView"></div>
            </td>
          </tr>
          <tr>
            <td>登場キャラクターID</td>
            <td><input id="sceneModalCharacter1" type="text" class="form-control" /></td>
          </tr>
          <tr>
            <td>登場キャラクターID</td>
            <td><input id="sceneModalCharacter2" type="text" class="form-control" /></td>
          </tr>
          <tr>
            <td>登場キャラクターID</td>
            <td><input id="sceneModalCharacter3" type="text" class="form-control" /></td>
          </tr>
          <tr>
            <td>登場キャラクターID</td>
            <td><input id="sceneModalCharacter4" type="text" class="form-control" /></td>
          </tr>
          <tr>
            <td>登場キャラクターID</td>
            <td><input id="sceneModalCharacter5" type="text" class="form-control" /></td>
          </tr>
          <tr>
            <td>シーンリンクID</td>
            <td><input id="sceneModalSceneLink1" type="text" class="form-control" /></td>
          </tr>
          <tr>
            <td>シーンリンクID</td>
            <td><input id="sceneModalSceneLink2" type="text" class="form-control" /></td>
          </tr>
          <tr>
            <td>シーンリンクID</td>
            <td><input id="sceneModalSceneLink3" type="text" class="form-control" /></td>
          </tr>
          <tr>
            <td>シーンリンクID</td>
            <td><input id="sceneModalSceneLink4" type="text" class="form-control" /></td>
          </tr>
          <tr>
            <td>シーンリンクID</td>
            <td><input id="sceneModalSceneLink5" type="text" class="form-control" /></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button id="closeSceneModal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="saveSceneModal" type="button" class="btn btn-primary" data-dismiss="modal">Add Scene</button>
      </div>
    </div>
  </div>
</div>