<html xmlns:th="http://www.thmeleaf.org">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous" />
<script src="/css/marked/lib/marked.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
<title>Home</title>
<link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
<style type="text/css">
.scene_panel {
  display: none;
}
</style>
</head>
<body>

  <div th:include="common/header_remake"></div>
  <div class="container">
    <div class="bodyDiv">
      <!--サイドメニュー-->
      <div th:include="common/sideMenu"></div>
      <!--本体-->
      <form th:action="@{/scenario/create/confirm}" th:object="${scenario}">
        <div class="mainText">
          <div class="mainDiv">
            <h2 class="ui header">シナリオ作成</h2>
            <div class="column">
              <table class="table">
                <tr>
                  <td class="col-lg-3">シナリオID</td>
                  <td class="col-lg-9" th:text="${id}">0</td>
                </tr>
                <tr>
                  <td>タイトル</td>
                  <td><input type="text" class="form-control" th:field="*{title}" /></td>
                </tr>
                <tr>
                  <td>概要</td>
                  <td><input type="text" class="form-control" th:field="*{outline}" /></td>
                </tr>
                <tr>
                  <td>推奨人数</td>
                  <td><input type="text" class="form-control" th:field="*{recommendPlayer}" /></td>
                </tr>
                <tr>
                  <td>推定プレイ時間</td>
                  <td><input type="text" class="form-control" th:field="*{time}" /></td>
                </tr>
                <tr>
                  <td>内容</td>
                  <td><input type="text" class="form-control" th:field="*{text}" /></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="mainDiv">
            <h2 class="ui header">NPC</h2>
            <div class="column">
              <button type="button" class="btn btn-primary oneRight" data-toggle="modal" data-target="#npcModal">
                <i class="addicon"></i> 追加
              </button>
              <table id="npcTable" class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="npc, stat: ${scenario.npcs}">
                    <td><input type="text" class="form-control" th:value="${npc.id}" th:name="|npcs[${stat.index}].name|" /></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="mainDiv">
            <h2 class="ui header">敵</h2>
            <div class="column">
              <button type="button" class="btn btn-primary oneRight" data-toggle="modal" data-target="#enemyModal">
                  <i class="addicon"></i> 追加
                </button>
                <table id="enemyTable" class="table">
                  <thead>
                  <tr>
                    <th>ID</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="enemy, stat: ${scenario.enemies}">
                    <td><input type="text" class="form-control" th:value="${enemy.id}" th:name="|enemies[${stat.index}].name|" /></td>
                  </tr>
                  </tbody>
                </table>
            </div>
          </div>
          <div class="mainDiv">
            <h2 class="ui header">アイテム</h2>
            <div class="column">
              <button type="button" class="btn btn-primary oneRight" data-toggle="modal" data-target="#itemModal">
                <i class="addicon"></i> 追加
              </button>
              <table id="itemTable" class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>名前</th>
                    <th>詳細</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="item, stat: ${scenario.items}">
                    <td><input type="text" class="form-control" th:value="${item.serialNum}" th:name="|items[${stat.index}].serialNum|" /></td>
                    <td><input type="text" class="form-control" th:value="${item.name}" th:name="|items[${stat.index}].name|" /></td>
                    <td>詳細ボタン <input type="hidden" th:value="${item.imgUrl}" th:name="|items[${stat.index}].imgUrl|" /> <input type="hidden" th:value="${item.text}"
                      th:name="|items[${stat.index}].text|" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="mainDiv">
            <h2 class="ui header">シーン</h2>
            <div class="column">
                <button type="button" class="btn btn-primary oneRight" data-toggle="modal" data-target="#sceneModal">
                    <i class="addicon"></i> 追加
                </button>
                <table id="sceneTable" class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>シーン種別</th>
                        <th>タイトル</th>
                        <th>編集</th>
                    </tr>
                    </thead>
                </table>
            </div>
          </div>
          <div class="mainDiv">
            <div class="column">
              <button class="btn btn-primary oneRight" type="submit">作成</button>
            </div>
          </div>
        </div>
      </form>
      <!-- モーダル -->
      <div th:include="scenario/createModal"></div>
    </div>
  </div>
  <!-- jQuery 読み込み -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- bootstrap-dropdown.js 読み込み -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">
			/*<![CDATA[*/
			// アイテム追加ボタン押下するとテーブルに一行追加する。
			$("#saveItemModal")
					.click(
							function() {
								var nextNum = $("#itemTable > tbody")
										.children().length + 1;
								var nextNumMinus = nextNum - 1;
								var nextId = 'itemTable' + nextNum;
								$("#itemTable")
										.append(
												'<tr id="itemTable' + nextNum + '"></tr>');
								$("#" + nextId)
										.append(
												'<td><input type="text" class="form-control" value="' + nextNum + '" name="items[' + nextNumMinus + '].serialNum" /></td>');
								$("#" + nextId).append(
										'<td><input type="text" class="form-control" value="'
												+ $("#itemModalName").val()
												+ '" name="items['
												+ nextNumMinus
												+ '].name" /></td>');
								$("#" + nextId)
										.append(
												'<td>詳細ボタン<input type="hidden" value="'
														+ $("#itemModalImgUrl")
																.val()
														+ '" name="items['
														+ nextNumMinus
														+ '].imgUrl" />'
														+ '<input type="hidden" value="'
														+ $("#itemModalText")
																.val()
														+ '" name="items['
														+ nextNumMinus
														+ '].text" /></td>');
								//モーダル内を空にする
								$("#itemModalName").val('');
								$("#itemModalImgUrl").val('');
								$("#itemModalText").val('');
							});
			$("#itemModalText").keyup(function() {
				$("#itemModalPreView").html(marked($("#itemModalText").val()));
			});

			$("#closeItemModal").click(function() {
				//モーダル内を空にする
				$("#itemModalName").val('');
				$("#itemModalImgUrl").val('');
				$("#itemModalText").val('');
			})

			// NPC追加ボタン押下時の動作
			$("#saveNpcModal")
					.click(
							function() {
								var nextNum = $("#npcTable > tbody").children().length + 1;
								var nextNumMinus = nextNum - 1;
								var nextId = 'npcTable' + nextNum;
								$("#npcTable")
										.append(
												'<tr id="npcTable' + nextNum + '"></tr>');
								$("#" + nextId).append(
										'<td><input type="text" class="form-control" value="'
												+ $("#npcModalId").val()
												+ '" name="npcs['
												+ nextNumMinus
												+ '].id" /></td>');
								//モーダル内を空にする
								$("#npcModalId").val('');
							})
			$("#closeNpcModal").click(function() {
				$("#npcModalId").val('');
			})

			// 敵追加ボタン押下時の動作
			$("#saveEnemyModal")
					.click(
							function() {
								var nextNum = $("#enemyTable > tbody").children().length + 1;
								var nextNumMinus = nextNum - 1;
								var nextId = 'enemyTable' + nextNum;
								$("#enemyTable")
										.append(
												'<tr id="enemyTable' + nextNum + '"></tr>');
								$("#" + nextId).append(
										'<td><input type="text" class="form-control" value="'
												+ $("#enemyModalId").val()
												+ '" name="enemies['
												+ nextNumMinus
												+ '].id" /></td>');
								//モーダル内を空にする
								$("#enemyModalId").val('');
							})
			$("#closeEnemyModal").click(function() {
				$("#enemyModalId").val('');
			})

			// シーン追加ボタン押下時の動作
			$("#saveSceneModal")
					.click(
							function() {
								var nextNum = $("#sceneTable > tbody").children().length + 1;
								var nextNumMinus = nextNum - 1;
								var nextId = 'sceneTable' + nextNum;
								$("#sceneTable")
										.append(
												'<tr id="sceneTable' + nextNum + '"></tr>');
								//TOOD: モーダル内を空にする処理を記述
							})
			$("#closeEnemyModal").click(function() {
				$("#enemyModalId").val('');
			})
			/*]]>*/
		</script>
</body>
</html>
