<html xmlns:th="http://www.thmeleaf.org">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous" />
<script src="/css/marked/lib/marked.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
<title>Home</title>
<link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
<style type="text/css">
.scene_panel {
  display: none;
}
</style>
</head>
<body>

  <div th:include="common/header_remake"></div>
  <div class="container">
    <div class="bodyDiv">
      <!--サイドメニュー-->
      <div th:include="common/sideMenu"></div>
      <!--本体-->
      <div class="mainText">
        <div class="mainDiv">
          <h2 class="ui header">シナリオ概要</h2>
          <div class="column" th:object="${detail}">
            <table class="table">
              <tr>
                <td class="col-lg-3">シナリオID</td>
                <td class="col-lg-9" th:text="*{id}">0</td>
              </tr>
              <tr>
                <td>タイトル</td>
                <td th:text="*{title}">0</td>
              </tr>
              <tr>
                <td>概要</td>
                <td th:text="*{outline}">0</td>
              </tr>
              <tr>
                <td>推奨人数</td>
                <td th:text="*{recommendPlayer}">0</td>
              </tr>
              <tr>
                <td>推定プレイ時間</td>
                <td th:text="*{time}">0</td>
              </tr>
              <tr>
                <td>内容</td>
                <td id="content" th:text="*{text}">0</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="mainDiv">
          <h2 class="ui header">NPC一覧</h2>
          <div class="column">
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>名前</th>
                  <th>正気度</th>
                  <th>詳細</th>
                </tr>
              </thead>
              <tr th:each="character: ${detail.npcs}">
                <td th:text="${character.id}">1</td>
                <td th:text="${character.name}">name</td>
                <td th:text="${character.sanityPoint}">10</td>
                <td>
                  <form th:action="@{/character/detail}" method="post">
                    <input class="btn btn-primary" type="submit" value="詳細" /> <input type="hidden" name="id" th:value="${character.id}" />
                  </form>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="mainDiv">
          <h2 class="ui header">敵一覧</h2>
          <div class="column">
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>名前</th>
                  <th>正気度</th>
                  <th>詳細</th>
                </tr>
              </thead>
              <tr th:each="character: ${detail.enemies}">
                <td th:text="${character.id}">1</td>
                <td th:text="${character.name}">name</td>
                <td th:text="${character.sanityPoint}">10</td>
                <td>
                  <form th:action="@{/character/detail}" method="post">
                    <input class="btn btn-primary" type="submit" value="詳細" /> <input type="hidden" name="id" th:value="${character.id}" />
                  </form>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="mainDiv">
          <h2 class="ui header">アイテム一覧</h2>
          <div class="column">
            <div class="col-lg-3" th:each="item: ${detail.items}">
              <h4 th:text="${item.text}"></h4>
              <img class="img-responsive" th:src="${item.imgUrl}" />
            </div>
          </div>
        </div>
        <div id="scenario_tab">
          <ul class="nav nav-pills scene_tas">
            <li role="presentation" class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">導入<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" th:if="${detail.introductionScenes.size()}">
                <li role="presentation" th:each="listIntroductionScene: ${detail.introductionScenes}"><a th:href="'#' + ${listIntroductionScene.serialNum}">導入カテゴリのシーンのリスト</a></li>
              </ul></li>
            <li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">イベント<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" th:if="${detail.eventScenes.size()}">
                <li role="presentation"><a href="#">イベントカテゴリのシーンのリスト</a></li>
              </ul></li>
            <li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">場所<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" th:if="${detail.placeScenes.size()}">
                <li role="presentation" th:each="listPlaceScene: ${detail.placeScenes}"><a th:href="'#' + ${listPlaceScene.serialNum}" th:text="${listPlaceScene.title}">場所カテゴリのシーンのリスト</a></li>
              </ul></li>
            <li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">時間<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" th:if="${detail.timeScenes.size()}">
                <li role="presentation"><a href="#">時間カテゴリのシーンのリスト</a></li>
              </ul></li>
            <li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">戦闘<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" th:if="${detail.timeScenes.size()}">
                <li role="presentation"><a href="#">戦闘カテゴリのシーンのリスト</a></li>
              </ul></li>
            <li role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">結末<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" th:if="${detail.endingScenes.size()}">
                <li role="presentation"><a href="#">結末カテゴリのシーンのリスト</a></li>
              </ul></li>
          </ul>
          <div class=" mainDiv scene_panel" th:each="scene: ${detail.allScenes}" th:id="${scene.serialNum}">
            <h2 class="ui header">シーン</h2>
            <div class="column">
              <h3 class="ui header" th:text="${scene.title}">title</h3>

              <h3 class="ui header">概要</h3>
              <div class="well">
                <p th:text="${scene.outline}"></p>
              </div>

              <h3 class="ui header">登場キャラクター</h3>
              <ul class="list-group">
                <li class="list-group-item" th:each="characterId : ${scene.appearCharacters}" th:text="${characterId}"></li>
              </ul>
              <h3 class="ui header">遷移先シーン</h3>
              <ul class="list-group">
                <li class="list-group-item" th:each="sceneLinkId : ${scene.sceneLinkIds}" th:text="${sceneLinkId}"></li>
              </ul>
              <h3 class="ui header">内容</h3>
              <div class="well">
                <span style="display: none;" th:text="${scene.text}"></span>
                <div class="scene_panel_text" th:id="${scene.serialNum} + '_text'"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery 読み込み -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- bootstrap-dropdown.js 読み込み -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" th:inline="javascript">
			document.addEventListener('DOMContentLoaded', function() {
				$("#1").show();
			})
			$(function() {
				$(".dropdown-menu a").on('click', function(e) {
					// 勝手にスクロール位置変わらないように a のclickイベントをキャンセル
					e.preventDefault();
					// パネルの存在判定をしておきます。
					var target = $(this).attr('href');
					if (!$(target).length)
						return false;
					$(".scene_tas").children().removeClass('active')
					$(this).closest('.dropdown').addClass('active');

					$('.scene_panel').hide();
					$(target).show();
				});
			});
			/*<![CDATA[*/
			document.getElementById('content').innerHTML = marked(/*[[ ${detail.text} ]]*/);
			$(".scene_panel_text").each(function() {
				$(this).append(marked($(this).prev().text()));
			});
			/*]]>*/
		</script>
</body>
</html>
