<html xmlns:th="http://www.thmeleaf.org">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="/css/marked/lib/marked.js"></script>
<head>
<title>Home</title>
<link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
  <div th:include="common/header_remake"></div>
  <div class="container">
    <div class="bodyDiv">
      <!--サイドメニュー-->
      <div th:include="common/sideMenu"></div>
      <!--本体-->
      <form th:action="@{/character/add/confirm}" th:object="${character}">
        <div class="mainText">
          <div class="mainDiv">
            <h2 class="ui header">キャラクター追加</h2>
            <div class="column">キャラクター追加画面です。</div>
          </div>
          <div class="mainDiv">
            <h2 class="ui header">基礎ステータス</h2>
            <div class="column">
              <img class="detailImg" src="https://placehold.jp/150x150.png" />
              <table class="table simple detailImgTable">
                <tr>
                  <td>キャラクターID</td>
                  <td><input type="text" class="form-control" th:field="*{id}" /></td>
                </tr>
                <tr>
                  <td>名前</td>
                  <td><input type="text" class="form-control" th:field="*{name}" /></td>
                </tr>
                <tr>
                  <td>学校・学位</td>
                  <td><input type="text" class="form-control" th:field="*{school}" /></td>
                </tr>
                <tr>
                  <td>出身</td>
                  <td><input type="text" class="form-control" th:field="*{comeFrom}" /></td>
                </tr>
                <tr>
                  <td>精神的な障害</td>
                  <td><input type="text" class="form-control" th:field="*{mentalDisorder}" /></td>
                </tr>
                <tr>
                  <td>性別</td>
                  <td><input type="text" class="form-control" th:field="*{sex}" /></td>
                </tr>
                <tr>
                  <td>年齢</td>
                  <td><input type="text" class="form-control" th:field="*{age}" /></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="mainDiv">
            <h2 class="ui header">能力値および能力ロール</h2>
            <div class="column">
              <div th:each="avility: *{avilityList}">
                <p class="col-lg-2 col-sm-3 text-right" th:text="${avility.name}"></p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:value="${avility.initValue}" />
                </div>
              </div>
            </div>
          </div>
          <!--
          <div class="mainDiv">
            <h2 class="ui header">能力値および能力ロール</h2>
            <div class="column">
              <table class="table someId">
                <tr>
                  <td class="col-lg-2">筋力(STR)</td>
                  <td class="col-lg-1"><input id="str" class="form-control abilityText" type="text" th:field="*{str}" placeholder="3D6" /></td>
                  <td class="col-lg-2">敏捷性(DEX)</td>
                  <td class="col-lg-1"><input id="dex" class="form-control abilityText" type="text" th:field="*{dex}" placeholder="3D6" /></td>
                  <td class="col-lg-2">知性(INT)</td>
                  <td class="col-lg-1"><input id="int" class="form-control abilityText" type="text" th:field="*{intelligence}" placeholder="2D6＋6" /></td>
                  <td class="col-lg-2">アイデア</td>
                  <td class="col-lg-2"><p id="idea">INT*5</p></td>
                </tr>
                <tr>
                  <td class="col-lg-2">体力(CON)</td>
                  <td class="col-lg-1"><input id="con" class="form-control abilityText" type="text" th:field="*{con}" placeholder="3D6" /></td>
                  <td class="col-lg-2">外見(APP)</td>
                  <td class="col-lg-1"><input id="app" class="form-control abilityText" type="text" th:field="*{app}" placeholder="3D6" /></td>
                  <td class="col-lg-2">精神力(POW)</td>
                  <td class="col-lg-1"><input id="pow" class="form-control abilityText" type="text" th:field="*{pow}" placeholder="3D6" /></td>
                  <td class="col-lg-2">幸運</td>
                  <td class="col-lg-1"><p id="fortune">POW*5</p></td>
                </tr>
                <tr>
                  <td class="col-lg-2">体格(SIZ)</td>
                  <td class="col-lg-1"><input id="siz" class="form-control abilityText" type="text" th:field="*{siz}" placeholder="2D6＋6" /></td>
                  <td class="col-lg-2">正気度(SAN)</td>
                  <td class="col-lg-1"><p id="san">POW×5 *</p></td>
                  <td class="col-lg-2">精神力(EDU)</td>
                  <td class="col-lg-1"><input id="edu" class="form-control abilityText" type="text" th:field="*{edu}" placeholder="3D6+3" /></td>
                  <td class="col-lg-2">知識</td>
                  <td class="col-lg-1"><p id="knowledge">EDU*5</p></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="mainDiv">
            <h2 class="ui header">ステータス</h2>
            <div class="column">
              <table class="table simple">
                <tr>
                  <td class="col-lg-6">正気度</td>
                  <td class="col-lg-6"><p id="sanity"></p></td>
                </tr>
                <tr>
                  <td>耐久力</td>
                  <td><p id="durability"></p></td>
                </tr>
                <tr>
                  <td>マジックポイント</td>
                  <td><p id="mp"></p></td>
                </tr>
                <tr>
                  <td>ダメージボーナス</td>
                  <td><p id="damageBonus"></p></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="mainDiv">
            <h2 class="ui header">職業</h2>
            <div class="column">
              <div class="ui right input">
                <div class="col-lg-3">
                  <input class="form-control" type="text" placeholder="職業を入力" />
                </div>
                <div class="col-lg-4">
                  <select name="job" class="form-control" id="job">
                  </select>
                </div>
              </div>
              <br />
              <h3>専門技能</h3>
              <div class="col-lg-2">
                <select class="skillSelect form-control " id="skillSelect1"></select>
              </div>
              <div class="col-lg-2">
                <select class="skillSelect form-control" id="skillSelect2"></select>
              </div>
              <div class="col-lg-2">
                <select class="skillSelect form-control" id="skillSelect3"></select>
              </div>
              <div class="col-lg-2">
                <select class="skillSelect form-control" id="skillSelect4"></select>
              </div>
              <div class="col-lg-2">
                <select class="skillSelect form-control" id="skillSelect5"></select>
              </div>
              <div class="col-lg-2">
                <select class="skillSelect form-control" id="skillSelect6"></select>
              </div>
              <div class="col-lg-2">
                <select class="skillSelect form-control" id="skillSelect7"></select>
              </div>
              <div class="col-lg-2">
                <select class="skillSelect form-control" id="skillSelect8"></select>
              </div>
              <div class="col-lg-2">
                <select class="skillSelect form-control" id="skillSelect9"></select>
              </div>
            </div>
          </div>
          <div class="mainDiv">
            <h2 class="ui header">探索者の技能</h2>
            <h3>職業技能ポイント</h3>
            <div class="progress">
              <div class="expert-progress-bar progress-bar" id="expert-progress-bar">
                <div class="label">
                  <span id="expertSetPoint">0</span>/<span id="expertMaxPoint">0</span>
                </div>
              </div>
            </div>
            <h3>個人的な興味による技能ポイント</h3>
            <div class="progress">
              <div class="progress-bar" id="beginner-progress-bar">
                <div class="label">
                  <span id="beginnerSetPoint">0</span>/<span id="beginnerMaxPoint">10</span>
                </div>
              </div>
            </div>

            <div class="column">
              <div>
                <p class="col-lg-2 col-sm-3 text-right">言いくるめ</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{dictionary}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">医学</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{medicine}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">運転(自動車）</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{driveCarriage}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">応急手当</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{firstAid}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">オカルト</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{occult}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">回避</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{dodge}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">化学</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{chemistry}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">鍵開け</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{locksmith}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">隠す</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{conceal}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">隠れる</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{hide}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">機械修理</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{mechanicalRepair}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">聞き耳</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{listen}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">クトゥルフ神話</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{cthulhuMythos}" id="cthulhuMythos" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">芸術</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{art}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">経理</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{accounting}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">考古学</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{archaeology}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">コンピューター</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{computer}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">忍び歩き</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{sneak}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">写真術</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{photography}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">重機械操作</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{operateHvyMachine}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">乗馬</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{ride}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">信用</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{creditRating}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">心理学</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{psychology}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">人類学</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{anthropology}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">水泳</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{swim}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">制作1</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{production1}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">制作2</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{production2}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">制作3</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{production3}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">精神分析</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{psychoanalysis}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">生物学</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{biology}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">説得</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{persuade}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">操縦1</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{pilot1}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">操縦2</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{pilot2}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">操縦3</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{pilot3}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">地質学</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{geology}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">跳躍</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{jump}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">追跡</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{pursuit}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">電気修理</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{electricalRepair}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">電子工学</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{electronics}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">天文学</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{astronomy}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">投擲</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{throwSomething}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">登攀</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{climb}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">図書館</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{library}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">ナビゲート</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{navigate}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">値切り</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{priceCut}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">博物学</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{naturalHistory}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">物理学</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{physics}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">変装</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{disguise}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">法律</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{law}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">他の言語1</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{otherLanguage1}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">他の言語2</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{otherLanguage2}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">母国語</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{ownLanguage}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">ﾏｰｼｬﾙｱｰﾂ</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{martial}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">目星</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{spotHidden}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">薬学</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{pharmacy}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">歴史1</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{history1}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">歴史2</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{history2}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">サブマシンガン</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{subMachineGun}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">ショットガン</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{shotgun}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">マシンガン</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{machineGun}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">ライフル</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{rifle}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">キック</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{kick}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">組み付き</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{assembly}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">こぶし</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{first}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">頭突き</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{headButt}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">近接戦1</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{handWeapon1}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">近接戦2</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{handWeapon2}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">火器1</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{firearm1}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">火器2</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{firearm2}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">火器3</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{firearm3}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">火器4</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{firearm4}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">火器5</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{firearm5}" />
                </div>
              </div>
              <div>
                <p class="col-lg-2 col-sm-3 text-right">火器6</p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:field="*{firearm6}" />
                </div>
              </div>
            </div>
          </div>
          <div class="mainDiv">
            <div class="column">
              <button class="btn btn-primary oneRight" type="submit">作成</button>
            </div>
          </div>
          <div class="mainDiv">
            <h2 class="ui header">キャラクター追加</h2>
            <div class="column">キャラクター追加画面です。</div>

          </div>
          -->
        </div>
      </form>
    </div>
  </div>
  <!-- jQuery 読み込み -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- bootstrap-dropdown.js 読み込み -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- JavaScript読み込み -->
  <script type="text/javascript" src="/js/rollDice.js"></script>
  <script type="text/javascript" src="/js/characterInput.js"></script>
  <script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function() {
				setRelatedParam();
				createJobSelect();
				createSkillSelect();
			})
		</script>

</body>
</html>
