<html xmlns:th="http://www.thmeleaf.org">
<link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<script src="/css/marked/lib/marked.js"></script>
<head>
  <title>Home</title>
  <link href="/css/custom.css" rel="stylesheet" type="text/css"
        media="all"/>
</head>
<body>

  <div th:include="common/header_remake"></div>
  <div class="container">
    <div class="bodyDiv">
      <!--サイドメニュー -->
      <div th:include="common/sideMenu"></div>
      <!--本体 -->
      <div class="mainText" th:object="${character}">
        <div class="mainDiv">
          <h2 class="ui header">キャラクター詳細</h2>
          <div class="column">
            <form th:action="@{/character/update/input}">
              <button class="btn btn-primary oneRight" type="submit">
                <i class="edit icon"></i> 更新
              </button>
              <input type="hidden" name="id" th:value="${character.id}" />
            </form>
          </div>
        </div>
        <div class="mainDiv">
          <h2 class="ui header">キャラクター概要</h2>
          <div class="column">
            <img class="detailImg"
              src="https://placehold.jp/150x150.png" />
            <table class="table simple detailImgTable">
              <tr>
                <td>キャラクターID</td>
                <td th:text="*{id}">0</td>
              </tr>
              <tr>
                <td>名前</td>
                <td th:text="*{name}">0</td>
              </tr>
              <tr>
                <td>学校・学位</td>
                <td th:text="*{school}">0</td>
              </tr>
              <tr>
                <td>出身</td>
                <td th:text="*{comeFrom}">0</td>
              </tr>
              <tr>
                <td>精神的な障害</td>
                <td th:text="*{mentalDisorder}">0</td>
              </tr>
              <tr>
                <td>性別</td>
                <td th:text="*{sex}">0</td>
              </tr>
              <tr>
                <td>年齢</td>
                <td th:text="*{age}">0</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="mainDiv">
          <h2 class="ui header">能力値および能力ロール</h2>
          <div class="column">
            <div th:each="avility: *{avilityList}">
              <p class="col-lg-2 col-sm-3 text-right" th:text="${avility.name}"></p>
              <div class="col-lg-1 col-sm-1">
                <p  th:text="${avility.value}" />
              </div>
            </div>
          </div>
        </div>
        <div class="mainDiv">
          <h2 class="ui header">ステータス</h2>
          <div class="column">
            <div th:each="status: *{statusList}">
              <p class="col-lg-2 col-sm-3 text-right" th:text="${status.name}"></p>
              <div class="col-lg-1 col-sm-1">
                <p th:text="${status.value}" />
              </div>
            </div>
          </div>
        </div>
        <div class="mainDiv">
          <h2 class="ui header">探索者技能</h2>
          <div class="column">
            <div th:each="skill: *{skillList}">
              <p class="col-lg-2 col-sm-3 text-right" th:text="${skill.name}"></p>
              <div class="col-lg-1 col-sm-1">
                <p th:text="${skill.value}" />
              </div>
            </div>
          </div>
        </div>
        <div class="mainDiv">
          <h2 class="ui header">所持品</h2>
          <div class="column">
            <div th:each="belonging: *{belongingList}">
              <p class="col-lg-2 col-sm-3 text-right" th:text="${belonging.name}"></p>
              <div class="col-lg-1 col-sm-1">
                <p th:text="${belonging.description}" />
              </div>
            </div>
          </div>
        </div>
        <div class="mainDiv">
          <h2 class="ui header">詳細</h2>
          <div class="column">
            <div th:each="detail: *{detailList}">
              <p class="col-lg-2 col-sm-3 text-right" th:text="${detail.name}"></p>
              <div class="col-lg-1 col-sm-1">
                <p th:text="${detail.value}" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
