<html xmlns:th="http://www.thmeleaf.org">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="/css/marked/lib/marked.js"></script>
<head>
<title>Home</title>
<link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
  <div th:include="common/header_remake"></div>
  <div class="container">
    <div class="bodyDiv">
      <!--サイドメニュー-->
      <div th:include="common/sideMenu"></div>
      <!--本体-->
      <form th:action="@{/character/update/confirm}" th:object="${character}" method="POST">
        <div class="mainText">
          <div class="mainDiv">
            <h2 class="ui header">キャラクター追加</h2>
            <div class="column">キャラクター追加画面です。</div>
          </div>
          <div class="mainDiv">
            <h2 class="ui header">基礎ステータス</h2>
            <div class="column">
              <img class="detailImg" src="https://placehold.jp/150x150.png" />
              <table class="table simple detailImgTable">
                <tr>
                  <td>キャラクターID</td>
                  <td><input type="text" class="form-control" th:field="*{characterId}" /></td>
                </tr>
                <tr>
                  <td>HumanID</td>
                  <td><input type="text" class="form-control" th:field="*{HumanId}" /></td>
                </tr>
                <tr>
                  <td>名前</td>
                  <td><input type="text" class="form-control" th:field="*{name}" /></td>
                </tr>
                <tr>
                  <td>学校・学位</td>
                  <td><input type="text" class="form-control" th:field="*{school}" /></td>
                </tr>
                <tr>
                  <td>出身</td>
                  <td><input type="text" class="form-control" th:field="*{comeFrom}" /></td>
                </tr>
                <tr>
                  <td>精神的な障害</td>
                  <td><input type="text" class="form-control" th:field="*{mentalDisorder}" /></td>
                </tr>
                <tr>
                  <td>性別</td>
                  <td><input type="text" class="form-control" th:field="*{sex}" /></td>
                </tr>
                <tr>
                  <td>年齢</td>
                  <td><input type="text" class="form-control" th:field="*{age}" /></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="mainDiv">
            <h2 class="ui header">能力値および能力ロール</h2>
            <div class="column">
              <div th:each="ability, stat: *{abilityList}">
                <p class="col-lg-2 col-sm-3 text-right" th:name="|abilityList[${stat.index}].name|" th:text="${ability.name}"></p>
                <div class="col-lg-1 col-sm-1">
                  <input class="beginner form-control" type="text" th:name="|abilityList[${stat.index}].parameterValue|" th:value="${ability.parameterValue}" />
                  <input type="hidden" th:name="|abilityList[${stat.index}].id|" th:value="${ability.id}" />
                  <input type="hidden" th:name="|abilityList[${stat.index}].parameterTypeId|" th:value="${ability.parameterTypeId}" />
                  <input type="hidden" th:name="|abilityList[${stat.index}].paramSubTypeId|" th:value="${ability.paramSubTypeId}" />
                  <input type="hidden" th:name="|abilityList[${stat.index}].initValue|" th:value="${ability.initValue}" />
                  <input type="hidden" th:name="|abilityList[${stat.index}].stringValue|" th:value="${ability.stringValue}" />
                  <input type="hidden" th:name="|abilityList[${stat.index}].name|" th:value="${ability.name}" />
                </div>
              </div>
            </div>
          </div>
          <div class="mainDiv">
            <h2 class="ui header">ステータス</h2>
            <div class="column">
              <div th:each="status, stat: *{statusList}">
                <p class="col-lg-2 col-sm-3 text-right" th:name="|statusList[${stat.index}].name|" th:text="${status.name}"></p>
                <div class="col-lg-1 col-sm-1">
                  <input class="form-control" type="text" th:name="|statusList[${stat.index}].parameterValue|" th:value="${status.parameterValue}" />
                  <input type="hidden" th:name="|statusList[${stat.index}].id|" th:value="${status.id}" />
                  <input type="hidden" th:name="|statusList[${stat.index}].parameterTypeId|" th:value="${status.parameterTypeId}" />
                  <input type="hidden" th:name="|statusList[${stat.index}].paramSubTypeId|" th:value="${status.paramSubTypeId}" />
                  <input type="hidden" th:name="|statusList[${stat.index}].initValue|" th:value="${status.initValue}" />
                  <input type="hidden" th:name="|statusList[${stat.index}].stringValue|" th:value="${status.stringValue}" />
                  <input type="hidden" th:name="|statusList[${stat.index}].name|" th:value="${status.name}" />
                </div>
              </div>
            </div>
          </div>
          <div class="mainDiv">
            <h2 class="ui header">職業</h2>
            <div class="column">
              <div class="col-lg-3">
                <input class="form-control" type="text" placeholder="職業を入力" th:value = "*{jobName}" th:name="jobName"/>
              </div>
              <div class="col-lg-4">
                <select name="jobId" class="form-control" id="jobId">
                  <option th:each="job: *{jobList}"  th:text="${job.name}" th:value="${job.id}">a</option>
                </select>
              </div>
              <br/>
              <h3>専門技能</h3>
              <div>
                <select class="form-control col-lg-2">
                  <option th:each="jobSkill : *{skillList}" th:text="${jobSkill.name}" th:value="${jobSkill.paramSubTypeId}">-</option>
                </select>
              </div>
            </div>
          </div>
          <div class="mainDiv">
            <h2 class="ui header">探索者技能</h2>
            <div class="column">
              <div th:each="skill, stat: *{skillList}">
                <p class="col-lg-2 col-sm-3 text-right" th:name="|skillList[${stat.index}].name|" th:text="${skill.name}"></p>
                <div class="col-lg-1 col-sm-1">
                  <input class="skillText beginner form-control" type="text" th:name="|skillList[${stat.index}].parameterValue|" th:value="${skill.parameterValue}" />
                  <input type="hidden" th:name="|skillList[${stat.index}].id|" th:value="${skill.id}" />
                  <input type="hidden" th:name="|skillList[${stat.index}].parameterTypeId|" th:value="${skill.parameterTypeId}" />
                  <input type="hidden" th:name="|skillList[${stat.index}].paramSubTypeId|" th:value="${skill.paramSubTypeId}" />
                  <input type="hidden" th:name="|skillList[${stat.index}].initValue|" th:value="${skill.initValue}" />
                  <input type="hidden" th:name="|skillList[${stat.index}].stringValue|" th:value="${skill.stringValue}" />
                  <input type="hidden" th:name="|skillList[${stat.index}].name|" th:value="${skill.name}" />
                </div>
              </div>
            </div>
          </div>
          <div class="mainDiv">
            <h2 class="ui header">所持品</h2>
            <div class="column">
              <div th:each="belonging, stat: *{belongingList}">
                <div class="col-lg-6 col-sm-6">
                  <input class="form-control" type="text" th:name="|belongingList[${stat.index}].name|" th:value="${belonging.name}" />
                </div>
                <div class="col-lg-6 col-sm-6">
                  <input class="form-control" type="text" th:name="|belongingList[${stat.index}].description|" th:value="${belonging.description}" />
                </div>
                <input class="form-control" type="hidden" th:name="|belongingList[${stat.index}].id|" th:value="${belonging.id}" />
                <input class="form-control" type="hidden" th:name="|belongingList[${stat.index}].belongingType|" th:value="${belonging.belongingType}" />
              </div>
            </div>
          </div>
            <div class="mainDiv">
                <h2 class="ui header">詳細</h2>
                <div class="column">
                    <div class="col-lg-12 col-sm-6" th:each="detail, stat: *{detailList}">
                      <input type="text" th:name="|detailList[${stat.index}].detail|" th:value="${detail.detail}" />
                      <input type="hidden" th:name="|detailList[${stat.index}].id|" th:value="${detail.id}" />
                      <input type="hidden" th:name="|detailList[${stat.index}].detailType|" th:value="${detail.detailType}" />
                    </div>
                </div>
            </div>
          <div class="mainDiv">
            <div class="column">
              <button class="btn btn-primary oneRight" type="submit">作成</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- jQuery 読み込み -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- bootstrap-dropdown.js 読み込み -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- JavaScript読み込み -->
  <script type="text/javascript" src="/js/rollDice.js"></script>
  <script type="text/javascript" src="/js/characterInput.js"></script>
  <script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function() {
				setRelatedParam();
				createJobSelect();
				createSkillSelect();
			})
		</script>

</body>
</html>
